APScheduler==3.11.0
blinker==1.9.0
click==8.2.1
colorama==0.4.6
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
ping3==4.0.8
pyasn1==0.6.1
pysnmp==7.1.21
PyYAML==6.0.2
tzdata==2025.2
tzlocal==5.3.1
Werkzeug==3.1.3
